
<a href="admin">admin</a>
<br>
<a href ="nurse"><button>nursedashboard</button></a>
<br>
<a href="profile-patient">profile-patient</a>
<br>
<a href="profile-doctor">profile-doctor</a>
<br>
<a href="first">first</a>
<br>
<button mat-button (click)="openDialog()">view prescription</button>

<div style="padding-left: 355px;padding-top: 80px;">
<mat-card style="margin: 90px;width: 500px; margin-left: 200px; border-radius: 25px;padding: top 50px;padding-left: 10px;">
<mat-icon style="padding-left: 220px;height:50px;width: 150px;font-size: 36px; ">account_circle</mat-icon>
<mat-card-content style="padding-top: 30px; padding-left: 50px;">

    <h4>Email Id: Admin@.com</h4>
    <h4>Name: Admin</h4>
    <h4>Role: chief-Admin</h4>
</mat-card-content> 
</mat-card>

</div>

    
  


