
<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="user-nurse">
        <mat-icon>user-nurse</mat-icon>
      </button>
      <span>Nurse Dashboard</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="circle">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="logout">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  
  
